name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i
    - run: npm run build --if-present
      env:
        VITE_S3_BUCKET: ${{ secrets.VITE_S3_BUCKET }}
        VITE_REGION: ${{ secrets.VITE_REGION }}
        VITE_ACCESS_KEY: ${{ secrets.VITE_ACCESS_KEY }}
        VITE_SECRET_ACCESS_KEY: ${{ secrets.VITE_SECRET_ACCESS_KEY }}
        VITE_UPLOAD_PATH: ${{ secrets.VITE_UPLOAD_PATH }}
        VITE_AUTH: ${{ secrets.VITE_AUTH }}
        VITE_AUTHENTICATE: ${{ secrets.VITE_AUTHENTICATE }}
        VITE_USER: ${{ secrets.VITE_USER }}
        VITE_USER_JOIN: ${{ secrets.VITE_USER_JOIN }}
        VITE_USER_INFO: ${{ secrets.VITE_USER_INFO }}
        VITE_USER_DELETE: ${{ secrets.VITE_USER_DELETE }}
        VITE_USER_LOGOUT: ${{ secrets.VITE_USER_LOGOUT }}
        VITE_USER_IMAGE: ${{ secrets.VITE_USER_IMAGE }}
        VITE_CERIFICATE: ${{ secrets.VITE_CERIFICATE }}
        VITE_CERIFICATE_ALL: ${{ secrets.VITE_CERIFICATE_ALL }}
        VITE_CERIFICATE_ELIGIBILITY: ${{ secrets.VITE_CERIFICATE_ELIGIBILITY }}
        VITE_CERIFICATE_EXAMSTANDARD: ${{ secrets.VITE_CERIFICATE_EXAMSTANDARD }}
        VITE_CERIFICATE_REGITSER: ${{ secrets.VITE_CERIFICATE_REGITSER }}
        VITE_CERTIFICATE_CALANDAR: ${{ secrets.VITE_CERTIFICATE_CALANDAR }}
        VITE_CHALLENEGE: ${{ secrets.VITE_CHALLENEGE }}
        VITE_CHALLENGE_UPDATE: ${{ secrets.VITE_CHALLENGE_UPDATE }}
        VITE_CHALLENGE_MEMO: ${{ secrets.VITE_CHALLENGE_MEMO }}
        VITE_CHALLENGE_DETAIL: ${{ secrets.VITE_CHALLENGE_DETAIL }}
        VITE_CHALLENGE_HOT: ${{ secrets.VITE_CHALLENGE_HOT }}
        VITE_CHALLENGE_RECENT: ${{ secrets.VITE_CHALLENGE_RECENT }}
        VITE_CHALLENEGE_VIEW: ${{ secrets.VITE_CHALLENEGE_VIEW }}

    - uses: awact/s3-action@master
      with:
        args: --acl public-read --follow-symlinks --delete
      env:
        SOURCE_DIR: './dist'
        AWS_REGION: 'ap-northeast-2'
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
